/*-------------------------
   Home 
-------------------------*/

.header {
   color: var(--color-primary);
   font-size: var(--h4);
}

/*-------------------------
   Hero 
-------------------------*/

.section-hero {
   background-image: url("../../../../public/images/hero-back.png");
   padding-top: 40px;
   padding-left: 30px;
   background-size: cover;
   background-repeat: no-repeat;
   border-radius: 15px;
   padding-bottom: 40px;
   &__btn {
      @include primary_button;
      font-size: var(--font-body-1) !important;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 8px;

      padding-bottom: 8px;
      background: #ffffff !important;
      box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.16), inset 2px 2px 4px rgba(255, 255, 255, 0.25),
         inset -4px -4px 4px rgba(0, 0, 0, 0.24);
      color: #6a4f34 !important;
      &__icon-right {
         margin-top: -5px;
      }
   }
   &__btn:hover {
      background-color: #ffffff;
      color: #6a4f34;
   }
   &__title {
      font-family: Manrope;
      font-size: var(--h3);
      margin-bottom: 20px;
      color: var(--color-secondary);
   }
   &__description {
      font-family: Manrope;
      font-size: var(--font-body-1);
      margin-bottom: 20px;
   }
   &__img {
      width: 100%;
   }
}

@media only screen and (max-width: 479px) {
   .section-hero {
      margin-left: 15px;
      padding: 15px;
      &__brand-img {
         width: 100%;
      }
      &__title {
         font-size: var(--h4);
      }
      &__description {
         font-size: var(--font-body-2);
      }
      &__btn {
         font-size: var(--font-body-2) !important;
         margin-top: 10px;
      }
   }
}

@media only screen and (min-width: 479px) and (max-width: 576px) {
   .section-hero {
      &__title {
         font-size: var(--h4);
      }
   }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
   .section-hero {
      &__title {
         font-size: var(--h4);
      }
   }
}

/*-------------------------
   Hero 
-------------------------*/

.section-booknow {
   min-height: 200px;
   background-image: url("../../../../public/images/Frame 170 (1).png");
   margin-bottom: 30px;
   background-repeat: no-repeat;
   background-size: cover;
   border-radius: 30px;
   padding: 50px;
   max-width: 100%;
   position: relative;
   &__label {
      font-family: Manrope;
      font-size: var(--font-buton-1);
      font-weight: 600;
      color: var(--color-fourth);
   }
   .date-one[type="date"]::-webkit-datetime-edit-fields-wrapper {
      position: relative;
      left: 15%;
   }
   .date-one[type="date"]::-webkit-calendar-picker-indicator {
      position: absolute;
      left: 5%;
      width: 20px;
      background: url("./../../../../public/images/calender.svg") no-repeat;
      margin-top: 8px;
      height: 20px;
   }
   .date-two[type="date"]::-webkit-datetime-edit-fields-wrapper {
      position: relative;
      left: 15%;
   }
   .date-two[type="date"]::-webkit-calendar-picker-indicator {
      position: absolute;
      left: 5%;
      width: 20px;
      height: 20px;
      background: url("./../../../../public/images/calender.svg") no-repeat;
      margin-top: 8px;
   }
   &__map-input {
      background: url("./../../../../public/images/map.svg") no-repeat;
      background-color: white;
      background-position: 10px 10px;
      padding-left: 30px;
   }
   &__car-input {
      background: url("./../../../../public/images/car.svg") no-repeat;
      background-color: white;
      background-position: 10px 10px;
      padding-left: 40px;
   }
   &__btn {
      @include primary_button;
      font-size: var(--font-body-1) !important;
      background-color: var(--color-secondary) !important;
      padding: 8px 16px;
      text-transform: uppercase;
      padding-left: 20px;
      padding-right: 20px;
      box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.16), inset 2px 2px 4px rgba(255, 255, 255, 0.25),
         inset -4px -4px 4px rgba(0, 0, 0, 0.24);
   }
}
.formgroup {
   &-one {
      position: relative;
   }
   &-two {
      position: relative;
   }
}
@media only screen and (max-width: 479px) {
   .section-booknow {
      padding: 30px 0px 30px 20px;
      margin-left: 1px;
      &__label {
         font-family: Manrope;
         font-size: var(--font-buton-3);
         font-weight: 600;
         color: var(--color-fourth);
      }

      &__btn {
         margin-top: 20px;
         margin-bottom: 10px;
         font-size: var(--font-body-2) !important;
      }
   }
}
@media only screen and (min-width: 576px) and (max-width: 991px) {
   .section-booknow {
      &__btn {
         margin-top: 20px;
         margin-bottom: 10px;
         font-size: var(--font-body-2) !important;
      }
   }
}
/*-------------------------
   GET A QUOTE 
-------------------------*/
.getquotebg {
   background-image: url("../../../../public/images/getquotebg-1.png");
   background-size: 100%;
   background-position: center;
   background-repeat: no-repeat;
   width: 100%;
}
.section-getquote {
   &__img {
      width: 100%;
   }
   &__card {
      background: rgba(242, 234, 226, 0.57);
      padding: 25px;
      border: 0px;
      border-radius: 25px;
   }
   &__title {
      font-family: "Manrope";
      font-style: normal;
      font-weight: 500;
      font-size: var(--h5);
      line-height: 132.47%;
      color: #9b8974;
      margin-bottom: 30px;
   }
   &__form-btn {
      @include primary_button;
      padding: 15px !important;
      background-color: #9b8974 !important;
      font-size: var(--font-body-1) !important;
      margin-top: 0px !important;
   }
   &__form-btn:hover {
      background-color: #9b8974;
   }
}
.input-from {
   padding-right: 10px;
}
.input-from__input::placeholder {
   color: white;
   font-size: var(--font-body-3);
}
.input-from__input::-webkit-input-placeholder {
   color: white;
   font-size: var(--font-body-3);
}
.input-from__input::-moz-placeholder {
   color: white;
   font-size: var(--font-body-3);
}

@media only screen and (max-width: 479px) {
   .section-getquote {
      margin-left: 3px;
   }
   .input-from {
      &__num-of-hour {
         margin-bottom: 15px;
      }
   }
}

/*-------------------------
   Product One  Section 
-------------------------*/

.product-one-card {
   border-radius: 15px;
   background-color: #f2eae2;
   padding: 15px;
   position: relative;
   &__image {
      img {
         width: 100%;
         border-radius: 5px;
      }
   }
   &__detail {
      padding-top: 15px;
   }
   &__product-title {
      @include product__title;
      font-family: Manrope-Bold;
   }
   &__product-des {
      @include product_des;
      font-family: Manrope;
      font-size: var(--font-body-2);
   }
   &__product-btn {
      background: #8f5e25;
      font-size: var(--font-body-2);
      font-family: Manrope;
      border-color: #8f5e25;
   }
   &__product-btn:hover {
      background-color: #8f5e25;
      border-color: #8f5e25;
   }
   &__product-btn:active {
      background-color: #8f5e25!important;
      border-color: #8f5e25!important;
   }
   &__view-all {
      @include outline-btn;
      margin-top: 20px;
      margin-bottom: 20px;
   }
   &__view-all:hover {
      background-color: #8f5e25;
      border-color: #8f5e25;
   }
   &__view-all:active {
      background-color: #8f5e25!important;
      border-color: #8f5e25!important;
   }
}
@media only screen and (max-width: 479px) {
   .product-one-card {
      margin-left: 10px;
   }
}

/*-------------------------
   Extend Your Shop  Section 
-------------------------*/
.section-extend-your-shop {
   &__title {
      font-size: var(--h5);
      font-family: Manrope-ExtraBold;
      color: black;
   }
   &__des {
      font-size: var(--font-body-3);
      font-family: Manrope-Medium;
      font-weight: 500;
      color: black;
   }
}
@media only screen and (max-width: 991px) {
   .section-extend-your-shop {
      padding: 10px;
      &__title {
         text-align: center;
      }
      &__des {
         text-align: center;
      }
   }
}
/*-------------------------
   Product Tabs Section 
-------------------------*/
.productTabItem__product-item-details {
   &__img {
      width: 100%;
      height: 100%;
      border-radius: 5px;
   }
   &__subtitle {
      font-size: var(--font-body-4);
      font-family: Manrope-ExtraBold;
      color: black;
      margin-bottom: 0.5rem;
   }
   @media only screen and (max-width: 479px) {
      &__subtitle {
         margin-top: 10px;
      }
   }
   &__title {
      font-size: var(--h5);
      font-family: Manrope-Bold;
      color: black;
      margin-bottom: 0.5rem;
   }
   &__read-more {
      background-color: var(--body-background);
      border-color: var(--body-background);
      color: black;
      position: relative;
      &__img {
         position: absolute;
         left: 0;
      }
      margin-top: auto;
      font-family: Manrope;
      font-size: var(--font-body-2);
   }
   &__read-more:focus {
      background-color: var(--body-background) !important;
      border-color: var(--body-background) !important;
      color: black !important;
   }
   &__read-more:active {
      background-color: var(--body-background) !important;
      border-color: var(--body-background) !important;
      color: black !important;
   }
   &__read-more:hover {
      background-color: var(--body-background) !important;
      border-color: var(--body-background) !important;
      color: black !important;
   }
}
@media only screen and (max-width: 479px) {
   .tab-content {
      margin-left: 20px;
   }
   .productTabItem__product-item-details {
      margin-top: 10px;
      margin-bottom: 10px;
      &__description {
         font-size: var(--font-body-2);
         text-align: left;
         color: #000000;
      }
   
   }
   
}
@media only screen and (max-width: 768px) {
   .tab-content {
      margin-left: 20px;
   }
   .productTabItem__product-item-details {
      margin-top: 10px;
      margin-bottom: 10px;
      &__description {
         font-size: var(--font-body-2);
         text-align: left;
         color: #000000;
      }
      &__read-more {
     margin-bottom: 20px;
      }
   }
   
}
.nav-tabs {
   & .nav-link {
      background: #f0f0f0;
      color: #000000;
      font-family: Manrope-Bold;
      font-size: var(--font-body-2);
      min-width: 100px;
      border-radius: 20px;
   }
   & .nav-item {
      margin-right: 10px;
      margin-bottom: 10px;
   }
   & .nav-item.show .nav-link,
   & .nav-link.active {
      background-color: #8f5e25;
      color: white;
   }
}

.aligntabs {
   display: flex;
   justify-content: center;
   align-items: center;
   border-bottom: 0px;
   align-content: center;
}

.section__cta {
   background-image: url("../../../../public/images/Rectangle 14.png");
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   border-radius: 5px;
   width: 100%;
   padding-top: 10%;
   padding-bottom: 10%;
   &__news-letter {
      display: flex;
      align-items: center;
      color: white;
      padding: 50px;
      font-size: var(--h3);
      font-family: Manrope;
      border-radius: 5px;
      max-width: 500px;
      background-color: #000000;
   }
}
@media only screen and (max-width: 479px) {
   .section__cta {
      margin-left: 20px;
      padding: 40px;
   }

}
