.desktop-header {
    &__book-now-btn {
        font-family: Manrope;
        @include primary_button;
        background-color: var(--color-primary);
        border-color: var(--color-primary);
        font-size: var( --h6);
        color: black;
        padding-left: 20px;
        padding-right: 20px;
    }
    &__book-now-btn:hover{
        @include primary_button;
        background-color: var(--color-primary);
        border-color: var(--color-primary);
        font-size: var( --h6);
        color: white;
    }
}
