.desktop-header {
    &__book-now-btn {
        font-family: Manrope;
        @include primary_button;
        background-color: var(--color-primary)!important;
        border-color: var(--color-primary)!important;
        font-size: var(--font-body-1)!important;
        color: #171717!important;
        padding-left: 20px!important;
        padding-right: 20px!important;
    }
    &__book-now-btn:hover{
        @include primary_button;
        background-color: #6a4f34 !important;
        border-color: #6a4f34 !important;
        font-size: var(--font-body-1)!important;
        color: white!important;
        padding-left: 20px!important;
        padding-right: 20px!important;
    }
}
@media only screen and (max-width: 991px){
    .desktop-header {
        display: none;
    }
}