.primary-nav-link{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    li{
        color: #383838;
        
    }
    &__a{
        font-family: Mitr;
        color: #000000;
        text-decoration: none;
        text-transform: uppercase;
    }
    &__a:hover{
        color: #000000;
     }
}